@page "/"
<style>
    
    main {
        background: linear-gradient(to right, #4879b3, #6b92c1);
    }
    .btn{
        background-color:purple;
        color:white;
    }

    .main {
        height: 85vh;
 
        color: white;

    }
</style>
<div class="main d-flex justify-content-center">
    <div class="d-flex flex-column text-center justify-content-evenly">

        <img src="images/HighFlyerLogo.png" />

        <a class="btn" href="mission"> Lancer la mission</a>

    </div>
</div>

